body {
    background-image: url("images/bg.jpg");
    background-repeat: no-repeat;
    background-position: right center;
    background-color: #000;
}

.page_head {
    height: 4rem;
    display: grid;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.container {
    border: 1px solid rgb(58, 189, 182);
    height: 70%;
    display: grid;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-items: center;
}

.container>* {
    border: 1px solid green;

}

.qoate_container {
    width: 30rem;
    height: 20rem;
    border: 1px solid red;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}

.qoate_container>* {
    /* border: 1px solid black; */

}

.p_1 {
    height: 10rem;
    display: grid;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

button {
    width: 50%;
    height: 40%;
}