.dark {
    display: grid;
    grid-template-columns: 200px 1fr;
    border: 1px solid red;
    width: 100%;
    height: 100%;
    background-color: #020202;
    background: -o-linear-gradient(rgba(0, 0, 0, 0.527)), url(images/bg.jpg) no-repeat center fixed;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.527))), url(images/bg.jpg) no-repeat center fixed;
    background-size: cover;

}

.container {
    display: grid;
    grid-template-columns: 200px 1fr;
    border: 1px solid red;
    width: 100%;
    height: 100%;
    background: url(images/bg.jpg) no-repeat center fixed;
    background-size: cover;
    background-color: #020202;
}


.btn_container {
    border: 1px solid white;
    background: rgba(27, 27, 27, 0.4);
    height: 100%;
    width: 10rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;


}

.button {
    background-color: #e6c47d;

    border: none;
    text-decoration: none;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    text-transform: capitalize;

}

.button:hover {
    background-color: #ccb178;

}

@-webkit-keyframes ani {
    from {
        top: 0px;
    }

    to {
        top: 200px;
    }
}

@-webkit-keyframes animation1 {
    from {
        top: 0px;
    }

    to {
        top: 200px;
    }
}



.empty_box {
    display: none;
    position: relative;
    justify-self: center;
    width: 30rem;
    height: 30rem;
    background-color: #fff;
    -webkit-animation-name: animation1;
    animation-name: animation1;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;


}

@keyframes animation1 {
    from {
        top: 0px;
    }

    to {
        top: 100px;
    }
}